<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.partial.pug
  body
    header.barra
      button(
        onclick='customFunctions.handleStack()'
        class='for-mobile'
        id='stack'
      ) &#9776;
      .logotype
        img(
          src="/public/assets/logo-white.png" 
          alt="light bulb" 
          style="height:100%;width:auto"
        )
        h1 UpTask - Projects Manager
      a(href="/log-out" class='for-desktop log-out') Log Out

    main.contenedor
      aside.contenedor-proyectos.for-desktop
        .panel.crear-proyecto
          a(href="/new" class='boton') New Project
            span +
        a(href="/log-out" class='for-mobile log-out') Log Out
        .panel.lista-proyectos
          h2 Projects
          ul.proyectos
            if(projects.length)
              each project in projects
                li
                  a(href=`/projects/${project.url}`) #{project.name}
            
      block content

    script(src="/public/main.bundle.js")
