<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.partial.pug
  body
    header.barra
      .logotype
        img(
          src="/public/assets/logo-white.png" 
          alt="light bulb" 
          style="height:100%;width:auto"
        )
        h1 UpTask - Projects Manager
      a(href="/log-out") Log Out

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/new" class='boton') New Project
            span +
        .panel.lista-proyectos
          h2 Projects
          ul#proyectos.proyectos
            if(projects.length)
              each project in projects
                li
                  a(href=`/projects/${project.url}`) #{project.name}
            
      block content

    script(src="/public/main.bundle.js")
