<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.partial.pug
  body.login
    .contenedor-formulario
      .contenedor-imagen
        img(src="/public/assets/logo-white.png", alt="light bulb")

      h1 Log in Uptask

      if locals.messages
        div
          each errorType in Object.keys(locals.messages)
            each error in messages[errorType]
              p(class=`alerta ${errorType}`)= error

      form(method='POST' action='/log-in' class='caja caja-login')
        .campo
          label(for='email') Email:
          input(
            type='text'
            name='email'
            id='email'
            placeholder='Enter your email here'
            require
          )
        .campo
          label(for='password') Password:
          input(
            type='password'
            name='password'
            id='password'
            placeholder='Enter your password here'
            require
          )
        .flex
          a(href='/sign-up' class='anchor') Don't have an account yet?
          input(type='submit' value='Log in' class='boton')