<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.partial.pug
  body.login
    .contenedor-formulario
      h1= pageTitle
      p Reset your password through your email
      form(method='POST' action='/password' class='caja-login')
        .campo
          label(for='email') Email:
          input(
            type='email'
            name='email'
            id='email'
            placeholder='Enter your email here'
            require
          )
        .flex
          a(href="/log-in") Already remembered
          input(type='submit' value='Reset password' class='boton')