extends layout.view.pug

block content
  .contenido-principal
    h1 #{pageTitle} - #{project.name}

    if errors
      .alerta.error Error: #{errors[0].msg}

    form(action=`/projects/${project.url}` method='POST' class='agregar-tarea')
      .campo
        label(for='task') Task:
        input(
          type='text'
          name='task'
          placeholder='Task name'
          id='task'
          class='nombre-tarea'
        )
      .campo.enviar
        input(type='submit' value='Add' class='boton nueva-tarea')
    
    .listado-pendientes
      ul
        if tasks.length
          each task in tasks
            li(data-task-id=task.id class='tarea')
              p= task.task
              .acciones
                if task.state
                  i(
                    onclick='customFunctions.handleTaskCheck(event)'
                    class='far fa-check-circle completo'
                  )
                else
                  i(
                    onclick='customFunctions.handleTaskCheck(event)'
                    class='far fa-check-circle'
                  )
                i(
                  onclick='customFunctions.handleDeleteTask(event)'
                  class='fas fa-trash'
                )
        else
          p There's no task in this project

    .avance
      h2 Project Progress
      .barra-avance
        .porcentaje

    .contenedor-acciones
      a(href=`/projects/${project.url}/edit` class='boton') Edit Project
      button(
        type='button'
        class='boton eliminar'
        id='delete-project'
        data-project-url=project.url
      ) Remove Project
      