<!DOCTYPE html>
html(lang="en")
  head
    include partials/head.partial.pug
  body.login
    .contenedor-formulario
      .contenedor-imagen
        img(src="/public/assets/logo-white.png", alt="light bulb")

      h1 Create your account in Uptask

      if locals.messages
        div
          each errorType in Object.keys(locals.messages)
            each error in messages[errorType]
              p(class=`alerta ${errorType}`)= error

      form(method='POST' action='/sign-up' class='caja-login')
        .campo
          label(for='email') Email:
          input(
            type='email'
            name='email'
            id='email'
            placeholder='Enter your email here'
            require
            value= email
          )
        .campo
          label(for='password') Password:
          input(
            type='password'
            name='password'
            id='password'
            placeholder='Enter your password here'
            require
            value= password
          )
        .campo
          label(for='confirm-password') Confirm Password:
          input(
            type='password'
            name='confirmPassword'
            id='confirm-password'
            placeholder='Confirm your password'
            require
            value= password
          )
        .flex
          a(href='/log-in' class='anchor') Go to Log in
          input(type='submit' value='Sign Up' class='boton')
    